include ./nav

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title= page.title
        meta(name='description', content='Upload and share any file for free, instantly from anywhere.')
        meta(name='author', content='Femto Apps')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/femto-apps/lib-style@92da5e3/dist/main.css')
        link(rel='stylesheet', href='/css/main.css')
        meta(name='viewport' content='width=device-width, initial-scale=1')

    body
        container
            +nav(nav.title, nav.links)

            main
                block main

            buffer

            footer
                section 
                    | The source for this website is available #[a(href='https://github.com/femto-apps/web-file-uploader') here]
                    | under a #[a(href='https://github.com/femto-apps/web-file-uploader/blob/master/LICENSE') MIT] license.

        block scripts