extends components/base

block main
    section
        center
            p
                b Upload and share any file for free, instantly from anywhere.

    section
        row
            column
                center
                    button Upload File
            column
                center
                    button Shorten URL
            column
                center
                    button Login / Signup