extends components/base

block main
    section
        center
            p
                b Upload and share any file for free, instantly from anywhere.

    section
        row
            column
                center
                    button#upload-files Upload Files
            column
                center
                    button Shorten URL

    section
        p= 'API Key: ' + key

block scripts
    script(src='/js/uploader.bundle.js')