extends components/base

block main
    section
        center
            p
                b Upload and share any file for free, instantly from anywhere.

    section
        row
            column
                center
                    button#upload-files Upload Files
            column
                center
                    button#shorten-url Shorten URL

    section
        pre
            code#info.
                #[span.comment # Upload using ShareX (Windows)]
                $ Download #[a(href='https://getsharex.com/').link ShareX] then install #[a(href='/sharex/uploader.sxcu').link our uploader] and #[a(href='/sharex/shortener.sxcu').link our shortener]

                #[span.comment # Upload from your terminal]
                $ curl -F "upload=@'UPLOAD_PATH'" #[span= origin + 'upload']

                #[span.comment # See more ways to upload #[a(href='https://github.com/femto-apps/web-file-uploader/wiki/Ways-to-Upload') here]]
                #[#upload_container.hidden #[span.comment #[br]# Uploaded files]#[#uploads]]
    if user
        section
            h3 Temp Links:
        section
            a(href='/uploads') See your uploads
            br
            br
            br
        section
            row
                column(style='width:10%;')
                    p API Key:
                column(style='width:90%;')
                    input#apikey.spoiler(readonly, value=key)

block scripts
    script(src='/js/uploader.bundle.js')